
  

    <header>
      <div class="name">
        <h1>Zanele Refiloe Nkosi</h1>
        <p style="font-size: 25px;">Information Technology and Computer Science</p>
      </div>
      <div class="pic">
      <img src="..\assets\profile picture.png" width="350px" height="450px">
    </div>

    </header>
    <div class="contact">
      <h2>CONTACT</h2>
      <img src="..\assets\location.png" width="35px" height="35px"> 503 Hlatshwayo Street,  Orlando East,  SOWETO,  1804 
      <img src="..\assets\phone.png" width="35px" height="35px"> 0813883292
      <img src="..\assets\email.png" width="35px" height="35px"> omuhlenkosi@gmail.com 
      <img src="..\assets\linked.png" width="35px" height="35px"> Zanele Refiloe Nkosi

     <a routerLink="/contact">Contact Me</a>
  </div>
  <br>
   
    <div class="maincontent">
        <!--Div class personal.2-->
            <div class="main">
              <h2>SKILLS</h2>
             
              <ul>
                <li>Adobe Photoshop <br> <progress value="60" max="100"></progress></li>
                <li>Adobe Illustartor <br> <progress value="45" max="100"></progress></li>
                <li>VB.net <br> <progress value="49" max="100"></progress></li>
                <li>HTML <br> <progress value="65" max="100"></progress></li>
                <li>CSS <br> <progress value="50" max="100"></progress></li>
                <li>Python <br> <progress value="30" max="100"></progress></li>
              </ul>

              
                <h3>OTHER SKILLS </h3>
                
              <ul>
                <li>Communication <br> <progress value="75" max="100"></progress></li>
                <li>Team Work <br> <progress value="80" max="100"></progress></li>
                <li>Adaptability <br> <progress value="75" max="100"></progress></li>
              </ul>
        </div>
        <br>
        <!--Div class main.2-->
        <div class="main">
          
          <h2>EDUCATION</h2>
          
            <h4>Information Technology and Computer Science</h4>
            <hr> 
            <p>South West Gauteng TVET College 2016-2018</p>
            <ul>
              <li>Top performer per programme: 2016/2017</li>
              <li>College Top 10: 2017</li>
            </ul> 
          
           
          
            <h4>Basic Computer</h4> 
            <hr>
            <p>Inqaba Yokulinda June 2014-August 2014</p>
            <ul>
              <li>Top performer</li>
            </ul>
          
        
            
         
            <h4>Matric</h4>
            <hr> 
            <p>Lofentse Girls' High School 2006-2010</p>
            <ul>
              <li>Admission to Bachelor Degree</li>
            </ul> 
         
            
          </div>

          <div class="main">
              <h2>EXPERIENCE</h2>
                <h4>ABSA Work Based Experience </h4> 
                <hr>
                <p>Job Shadowing</p>
                
    
                <h4>Red Square </h4> 
                <hr>
                <p>Sales Person</p>
                <ul>
                  <li>Customer Interaction and Customer Services</li>
                  <li>Stock Taking and Merchandising</li>
                  <li>Meeting Sales Targets</li>
                </ul> 
    
                <h4>Edgars </h4> 
                <hr>
                <p>Service Centre Operator</p>
                <ul>
                  <li>Customer Services</li>
                  <li>Credits and Returns</li>
                </ul> 

                <h4>The Creative Counsel </h4>
                <hr> 
                <p>Brand Ambassador</p>
                <ul>
                  <li>Customer Interaction</li>
                  <li>Brand Awareness</li>
                </ul> 

                <h4>Edgars </h4> 
                <hr>
                <p>Service Centre Operator</p>
                <ul>
                  <li>Customer Services</li>
                  <li>Credits and Returns</li>
                </ul> 

                <h4>Statistics South Africa</h4>
                <hr> 
                <p>Had interviews with community members during the 2011 Census</p>
                
                  
              </div>
            
              <div class="main">
                <h2>REFERENCES</h2>
                <h4>Othiniel Mogotsi </h4> 
                <hr>
                <p>Senior Lecturer - SWGC</p>
                <p>076 448 2432</p>
                <p>othinieln@gmail.com</p>
                <br>
                <h4>Zandile Ximba </h4> 
                <hr>
                <p>Manager - Red square</p>
                <p>081 705 7876</p>
                <p>zfximba12@gmail.com</p>
              </div>
              </div>
          <footer>  &copy; Zanele Refiloe Nkosi @CodeTribe</footer>
  
