<!DOCTYPE html>
<html>
  <body>
      <header>
          
          <h1>CONTACT ME</h1>
        
      </header>
      <a routerLink="/about">Back to CV</a>
      <div class="main">
      <div class="form">
    <form>
      Name:<br>
<input type="text" name="name" placeholder="Enter Name"><br><br>
Email:<br>
<input type="text" name="email" placeholder="Enter Email" required><br><br>
Number:<br>
<input type="text" name="number" placeholder="Enter Number" required><br><br>
Message:<br>
<textarea name="message"  placeholder="Type Message..." required></textarea>
<br>
<input type="submit" style="background-color: rgb(245, 233, 233); color:cornsilk; font-size: 20px; border: 2px solid green; margin: 3px;">
</form>

</div>
<div class="image">
  
</div>
</div>
  </body>
</html>


 
  <footer>  &copy; Zanele Refiloe Nkosi @CodeTribe</footer>
